---
import { Project } from "../../models/project";
import BaseLayout from "../../layouts/BaseLayout.astro";
import constants from "../../constants";
import Contact from "../../components/contact.svelte";
import Header from "../../components/header.svelte";
import i18next from "../../utils/i18next";
import Intro from "../../components/intro.svelte";
import Projects from "../../components/projects.svelte";
import Skills from "../../components/skills.svelte";

const { locale } = Astro.request.params;

i18next.changeLanguage(locale);

const projects = constants.projects[locale] as Project[];

export async function getStaticPaths() {
  return [
    { params: { locale: 'en' } },
    { params: { locale: 'nl' } },
  ];
}
---

<BaseLayout locale={locale} title='Home'>
	<main>
    <Header />
		<Intro />
		<Projects projects={projects} client:visible />
    <Skills />
    <Contact />
	</main>
</BaseLayout>