---
const { locale, title } = Astro.props
---

<html lang={locale}>
    <head>
        <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.png" />
        <title>{title}</title>
        <style lang="scss">
            @import "../styles/main.scss";
        </style>
    </head>
    <body>
        <slot />
    </body>
</html>